# Rename this file to .env (ignored by git) and enter secrets to supply to docker

MYSQL_USER=<PICK A USERNAME>
MYSQL_PASSWORD=<PICK A PASSWORD>
SSL_KEYSTORE_PASSWORD=<SSL CERT PASSWORD>

MYSQL_DATABASE=football-db
MYSQL_RANDOM_ROOT_PASSWORD=yes
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${MYSQL_DATABASE}?autoReconnect=true
SPRING_DATASOURCE_USERNAME=${MYSQL_USER}
SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}
